body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
    background-color: rgb(255, 255, 255);
    background-image: url(../css/images/Titel.png);
      background-size: 10cm;
background-repeat: no-repeat;
background-position: center;
background-blend-mode: luminosity;
  color: rgb(255, 255, 255);
    padding-top: 200px;
    padding-bottom: 200px;
}
