body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
    background-color: rgb(255, 255, 255);
    background-image: url(../css/images/backround.png);
      background-size: 10cm;
      background-position: center;
  


  color: rgb(255, 255, 255);
    padding-top: 200px;
    padding-bottom: 200px;
}
